body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1C1D;
    color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

header {
    background-color: #282A2C;
    text-align: center;
    padding: 100px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    color: #b0b0b0;
}

.btn {
    display: inline-block;
    background-color: #006ab0;
    color: #ececec;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.btn:hover {
    background-color: #82C3ED;
}

section {
    padding: 60px 0;
}

#features .container {
    background-color: #282A2C;
    padding: 40px;
    border-radius: 8px;
}

.feature-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.feature {
    text-align: center;
    max-width: 30%;
}

.feature h3 {
    font-size: 1.5em;
    color: #49a1dc;
}

.feature img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

.favorite-item {
    background-color: #282A2C;
    padding: 20px 30px; 
    border-radius: 8px;
    margin-bottom: 20px;
}

.favorite-item h3 {
    margin-top: 0;
    color: #49a1dc;
}

.favorite-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.favorite-item li {
    padding: 5px 0;
}


footer {
    background-color: #282A2C;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}